/*
  # Linked CSS file for setting styling of linked pages
  # Includes:
  # 1. Position elements using CSS
  # 2. Modify element style (size, color, etc) using CSS
  # 3. Compare and use classes and ids to manipulate elements
*/
*{
  font-family: 'Oxygen', sans-serif;  
   /*
   # Used to diagnose where issues with white space were 
   */
   /*border: 1px solid red;*/
}
/*
  # Define overall body styling 
*/
body, html{
  height: 100%;
  width: 100%;  
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  word-wrap:break-word !important;
  scroll-behavior: smooth;
}
 body {
    margin: 0 auto;
    display: flexbox;
    flex-flow: column;
    min-height: 100%;
}
/*
  # Define unordered list styling 
*/
ul{
    list-style-type: none;
    font-size: 110%;
    font-weight: bold;
}
/*
  # Define paragraph styling 
*/
p{
    padding: 10px 20%;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 0.1rem;
    text-align: left;
}
/*
  # Define navigation bar & children styling 
*/
nav {
	margin: 0px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;  
  width: 100%;
}
nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
  position: relative;
  background-blend-mode: overlay;
}
nav ul li {
	display:inline-block;
  background-color: #fff;
}
nav a {
	display:block;
	padding:0 10px;	
  color:#585858c5;
  text-shadow: 1px 0px #000;
	font-size:20px;
  line-height: 50px;
  text-decoration:none;
}
nav a:hover { 
  background-color: #bfc0c2; 
}
/* 
# Hide navigation bar dropdowns by default 
*/
nav ul ul {
	display: none;
	position: absolute; 
  top: 50px; /* the height of the main nav */
}
/* 
# Display navigation bar dropdowns on hover 
*/
nav ul li:hover > ul {
  display:inherit;
}	
/* 
# Define first tier navigation bar dropdown styling
*/
nav ul ul li {
	width:200px;
	float: none;
	display:list-item;
  position: relative;
  z-index: 9999;
}
/* 
# Define second navigation bar dropdown styling
*/
nav ul ul ul li {
	position: relative;
	top:-50px; 
	left:170px;
}
/* 
# Define tables styling
*/
table, td, th {
    border: none;
    max-width: 100%;
  }
  
  table {
    border-collapse: collapse;
    max-width: 100%;
    border-radius: 5%;
    align-self: center;
    empty-cells: show;
  }
  
  th {
    max-height: 50%;
    padding: 0;
    max-width: 50%;
    text-align: center;
    vertical-align: middle;
    text-align: justify center;
  }
/* 
# Define header class styling
*/
.header{
  color: #fff;
  background-image: url("../images/bantersnaps-KP-19H9w2lo-unsplash.jpg");
  height: 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  font-size: 200%;
  text-shadow: 2px 2px 2px #000;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  position: relative;
}
/* 
# Define content class styling
*/
.content {
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #fff;
}
/* 
# Define blog header class styling
*/
.blog-header{
    color:  #585858c5;
    padding-top: 1%;
    padding-bottom: 0%;
    text-align: center;
    align-self: center;
    font-size: 150%;
    font-weight: bolder;
}
/* 
# Define date class styling
*/
.date{
  color:  #000;
  padding-top: 0%;
  padding-bottom: 2%;
  text-align: center;
  align-self: center;
  font-size: 90%;
  font-weight: bolder;
}
/* 
# Define header text class styling
*/
.header-text{
    position: relative;
    top: -0.1em;
    text-align: center;
    align-self: center;
}
/* 
# Postion items in center of page
*/
.center {
  margin-left: auto;
  margin-right: auto;
}
/* 
# Define text header class styling
*/
.text-heading{
  color: #585858c5;
  font-weight:bold; 
  font-size: 150%;
  text-align: center;
  align-self: center;
}
/* 
# Define table text class styling
*/
.table-text{
  text-align: center;
  align-self: center;
  font-weight: 600;
  line-height: 20px;
  font-size: 120%;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.1rem;
}
/* 
# Define link text class styling
*/
.link-text{
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 150%;
  text-decoration: none;
}
/* 
# Define farewell text class styling
*/
.farewell-text{
  text-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 150%;
  text-decoration: none;
}
/* 
# Define pic class styling
*/
.pic{
    object-fit: contain; 
    padding: 1%;
    max-height: 80%;
    max-width: 80%;
    height: 50%;
    width: 60%;
}
/* 
# Define pic-solo class styling
*/
.pic-solo{
  object-fit: contain; 
  padding: 2%;
  max-height: 100%;
  max-width: 100%;
  height: 85%;
  width: 80%;
}
/* 
# Define footer class styling
*/
.footer{
  height: 5%;  
  max-height: 5%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    text-decoration: none;
    color: #575763;
}
  .footer a:link{
      color: #575763;
      text-decoration: none;
    }
  
  .footer a:visited{
    color: #575763;
    text-decoration: none;
  }
  
  .footer a:hover{
    color: #575763;
    text-decoration: none;
    background-color: #fff;
  }
  
  .footer  a:active{
    color: #575763;
    text-decoration: none;
  }
  .footer a {
    line-height: 30px;
  }
  