/*
    # Linked CSS file for setting styling of linked pages
    # Includes:
    # 1. Position elements using CSS
    # 2. Modify element style (size, color, etc) using CSS
    # 3. Compare and use classes and ids to manipulate elements
*/
*{
    font-family: 'Kumbh Sans', sans-serif;
   /* used to diagnose where issues with white space were */
     /*border: 1px solid red;*/
}
body, html{
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
}
 body {
    margin: 0 auto;
    display: flex block;
    flex-direction: column;
}
ul{
    list-style-type: none;
    font-size: 110%;
    font-weight: bold;
}
p{
    padding: 10px 10%;
}
/*
 # Use an id to manipulate an element
*/
#technical-blog-header{
    font-display: block;
    color:  #575763;
}
/*
 # Use classes to manipulate elements
*/

.header{
    text-emphasis-color: #a09f9f;
    color: #F5EEEE;
    background-image: url("../images/bantersnaps-KP-19H9w2lo-unsplash.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 110%;
    font-weight: bolder;
    text-shadow: 1px 1px #d5d8da;
    text-align: center;
    padding: 5%;
 }
.header-text{
    position: relative;
    top: 0.1em;
}
.content {
    align-items: center;
    text-align: center;
}
.blog-table{
    display: flex;
    flex-flow: row;
    width: 90%;
    padding-top: 10px;
    overflow: hidden;
}
.blog-link {
    border-radius: 50%;
    max-width: 30%;
    width: 80px;
    height: 70px auto;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
.blog-items{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-top: 10px;
    height: 5%;
    margin: 0;
    font-size: x-large;
    display: table-cell;
}
    .blog-items a {
        text-decoration: none;
        display: block;
        padding: 0.5em;
        color: #7C8285;
    }
  
    .blog-items a:hover {
        background:  #b5bec9;
        opacity: 0.5;
    }

.tooltip {
   position: relative;
   display: inline-block;
   padding-bottom: 2%;
}
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100px;
        background-color: #afadad;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 15%;
        font-size: medium;
        /* Position the tooltip */
        position: relative;
        z-index: 1;   
    }
  
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
.wrapper {
   min-height: 3em;
   margin-bottom: -40px;
   position: relative;
   padding-bottom: 2%;
}
.footer{
    min-height: auto;
    text-align: center;
    position: sticky;
    bottom: 0;
    padding-top: 20px;
    background-color: #fff;
}
