/*
    # Linked CSS file for setting styling of linked pages
    # Includes:
    # 1. Position elements using CSS
    # 2. Modify element style (size, color, etc) using CSS
    # 3. Compare and use classes and ids to manipulate elements
*/
*{
  font-family: 'Oxygen', sans-serif;  
   /*used to diagnose where issues with white space were */
     /*border: 1px solid red;*/
}
body, html{
  height: 100%;
  width: 100%;  
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  word-wrap:break-word !important;
  scroll-behavior: smooth;
}
 body {
    margin: 0 auto;
    display: flexbox;
    flex-flow: column;
    min-height: 100%;
}
ul{
    list-style-type: none;
    font-size: 110%;
    font-weight: bold;
}
p{
    padding: 10px 20%;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 0.1rem;
    text-align: justify center;
}
nav {
	margin: 0px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;  
  width: 100%;
}
nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
  position: relative;
  background-blend-mode: overlay;
}
nav ul li {
	display:inline-block;
  background-color: #fff;
}
nav a {
	display:block;
	padding:0 10px;	
  color:#585858c5;
  text-shadow: 1px 0px #000;
	font-size:20px;
  line-height: 50px;
  text-decoration:none;
}
nav a:hover { 
  background-color: #bfc0c2; 
}
/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
  top: 50px; /* the height of the main nav */
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
}	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:200px;
	float: none;
	display:list-item;
  position: relative;
  z-index: 9999;
}
/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-50px; 
	left:170px;
}
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }

table, td, th {
    border: none;
    max-width: 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5%;
    align-self: center;
    empty-cells: show;
  }
  
  th {
    max-height: 50%;
    padding: 0;
    max-width: 50%;
    text-align: center;
    vertical-align: middle;
    text-align: justify center;
  }

/*
 # Use an id to manipulate an element
*/
#blog-header{
    font-display: block;
    color:  #585858c5;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*
 # Use classes to manipulate elements
*/

.header{
    color: #fff;
    background-image: url("../images/bantersnaps-KP-19H9w2lo-unsplash.jpg");
    height: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    font-size: 100%;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    position: relative;
 }
.header-text{
    position: relative;
    top: -0.1em;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.pre{
  font: monospace monospace;
  color: #3a6cf5;
}
.text-heading{
  color:#6e587e;
  font-weight:bold; 
  font-size: 110%;
}
.coding{
  font: monospace monospace;
  color: #3a6cf5;
  font-size: 150%;
  text-align: left;
  padding-left: 20%;
}
.content {
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #fff;

}
.pic{
    object-fit: contain; 
    padding: 2%;
    max-height: 80%;
    max-width: 80%;
    height: 40%;
    width: 60%;
}
.pic-solo{
  object-fit: contain; 
  padding: 2%;
  max-height: 100%;
  max-width: 100%;
  height: 80%;
  width: 80%;
}
.code-pic{
  object-fit: contain; 
  padding: 2%;
  height: 100%;
  width: 100%;
  padding-right: 1%;
  padding-left: 50%;
}
.index-pic{
  object-fit: contain; 
  padding: 2%;
  max-height: 50%;
  max-width: 50%;
  height: auto;
  width: auto;
}  

.footer{
  height: 5%;  
  max-height: 5%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    text-decoration: none;
    color: #575763;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 35px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 40px;
}
.footer a:link{
    color: #575763;
    text-decoration: none;
  }
  
  .footer a:visited{
    color: #575763;
    text-decoration: none;
  }
  
  .footer a:hover{
    color: #575763;
    text-decoration: none;
    background-color: #fff;
  }
  
  .footer  a:active{
    color: #575763;
    text-decoration: none;
  }
  .footer a {
    line-height: 30px;
  }
  
